.-button-fx {
    -fx-background-radius: 8;
    -fx-margin-horizontal: 15px;
    -fx-background-color: tomato;
    -fx-pref-width: 150;
    -fx-font-size: 18;
    -fx-font-style: bold;
    -fx-cursor: hand;
}

#pay-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

#pay-button:hover {
    -fx-background-color: rgb(54, 113, 83);
}

#pay-button:pressed {
    -fx-background-color: rgb(16, 57, 16);
}

#cancel-button:hover {
    -fx-background-color: red
}

#cancel-button:pressed {
    -fx-background-color: rgb(86, 40, 40);
}